*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #bdc2b5ce;
}
.container {
  width: 40%;
  top: 60%;
  left: 50%;
  background: white;
  border-radius: 10px;
  min-width: 450px;
  position: absolute;
  min-height: 100px;
  transform: translate(-50%, -50%);
}
#newtask {
  position: relative;
  padding: 30px 20px;
}
#newtask input {
  width: 75%;
  height: 45px;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
}

#newtask input:focus {
  outline: none;
  border-color: #21262c;
}
#newtask button {
  position: relative;
  float: right;
  font-weight: 500;
  font-size: 16px;
  background-color: #da9b1f;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
#tasks {
  border-radius: 10px;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  padding: 30px 20px;
  margin-top: 10px;
}
.conteiner-time {
  width: 200px;
  height: 200px;
  background-color: #cacacac2;
  border-radius: 50%;
  box-shadow: 0px 0px 100px 5px rgb(126, 125, 125);
  position: relative;
  left: 600px;
  top: 20px;
}
.mini-conteiner-time {
  position: relative;
  width: 200px;
  height: 50px;
  left: 600px;
  top: 40px;
  background-color: white;
}
.clock-face {
  position: relative;
  top: 10px;
  left: 10px;
  width: 180px;
  height: 180px;
}

.hour {
  width: 5px;
  height: 70px;
  position: absolute;
  top: 30px;
  left: 99px;
  background-color: black;
  transform-origin: bottom;
  transition: 1s ease;
  rotate: 0deg;
}
.minute {
  position: absolute;
  top: 35px;
  left: 99px;
  width: 3px;
  height: 65px;
  rotate: 0deg;
  transition: 1s ease;
  transform-origin: bottom;
  background-color: #bebc3e;
}
.second {
  position: absolute;
  top: 40px;
  left: 99px;
  width: 3px;
  height: 60px;
  rotate: 0deg;
  transition: 1s ease;
  transform-origin: bottom;
  background-color: #d11010;
}

#myUL {
  margin: 20px 0px 5px -10px;
}
